.li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 200px;
}

.cardsContainer {
  padding-top: 17px;
  width: 84.078%;
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgba(54, 54, 54, 0);
}
