.li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 200px;
  justify-content: space-between;
}

.cardsContainer {
  padding-top: 17px;
  width: 1600px;
  display: flex;
  flex-direction: row;
  margin: auto;
}
