body {
  overflow-y: scroll;
}
.imgContainer {
  display: flex;
  flex-direction: row;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
}

/* .review {
} */
a {
  /* color: blue;
  text-decoration: underline; */
}

.mapsUrl {
  text-decoration: underline;
  color: blue;
}
